# MariaDB
MARIADB_ROOT_PASSWORD=change_me
MARIADB_DATABASE=trans
MARIADB_USER=trans
MARIADB_PASSWORD=change_me

# Backend
BACKEND_URL=http://backend:3001
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=your-jwt-secret-change-me
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# CORS
CORS_ORIGIN=http://localhost:3000

# Grafana
GF_SECURITY_ADMIN_USER=your-grafana-admin-user-change-me
GF_SECURITY_ADMIN_PASSWORD=your-grafana-admin-password-change-me

# Slack
SLACK_WEBHOOK_URL=your-slack-webhook-url-change-me
